<%- include("partials/header.ejs") %>

<main>
      <form action="/submit-edit" method="POST" enctype="multipart/form-data">
            <div class="container">
                  <h3>
                        Post edit
                  </h3>
                  
                  <div class="row">
                        <input type="hidden" name="post-id" class="form-control form-control-lg" id="post-id" value="<%= item.id %>">
                        <div class="col-8">
                              <label for="post-title" class="form-label"></label>
                              <input type="text" name="post-title" class="form-control form-control-lg" id="post-title" placeholder="Post Title" value="<%= item.title %>" required="">
                        </div>

                        <div class="col-4 align-self-center ">
                              <label for="post-author" class="form-label"></label>
                              <input type="text" name="post-author" class="form-control" id="post-author" placeholder="Author Name" value="<%= item.author %>" required="">
                        </div>
                  </div>
                  
                  <div class="row">
                        <div class="col-8">
                              <label for="post-content" class="form-label"></label>
                              <textarea class="form-control" name="post-content" id="post-content" rows="8" placeholder="Content"><%= item.content %></textarea>
                        </div>
                        
                        <div class="col-4 align-self-center  my-2">
                              <label for="post-image" class="form-label">Add post image</label>
                              <input class="form-control" name="post-image" type="file" id="post-image">
                              <% if(item.image){ %>
                              <div class="container text-center">
                                    <img src="<%= item.image %>" class="img-fluid align-self-center my-2" height="100px" width="100px">
                              </div>
                              <% } %>
                        </div>
                  </div>

            </div>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-5">
                  <button type="submit" id="<%= item.id %>_edit_btn" class="btn btn-success btn-lg px-4 me-sm-3">Edit post</button>
                  <button type="submit" id="<%= item.id %>_dlt_btn" class="btn btn-danger btn-lg px-4 me-sm-3 clickable">Delete post</button>
            </div>
      </form>

      

</main>

<%- include("partials/footer.ejs") %>