        <%- include("partials/header.ejs") %>

            <main>

            <div class="container">
                <div class="px-4 text-center border-bottom">
                    <h1 class="display-4 fw-bold text-body-emphasis">Welcome!</h1>
                    <div class="col-lg-6 mx-auto">
                        <p class="lead mb-4">
                            <em>Discover a space where your voice matters.</em>
                            <br><br>
                            Whether you're an aspiring writer, a seasoned blogger, or someone with a story to share, our platform is the perfect place for you. Here, you can easily upload your own posts and explore diverse perspectives. Join us and start sharing your unique insights and experiences with the world today!
                        </p>
                        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-4">
                            <a href="/create"><button type="button" class="btn btn-success btn-lg px-4 me-sm-3">Create a new post</button></a>
                        </div>
                    </div>
                    <div class="overflow-hidden" style="max-height: 30vh;">
                        <div class="container">
                            <img src="images/blog_web_logo_1.jpg" class="img-fluid border rounded-3 shadow-lg" alt="Logo image" width="350" height="500">
                        </div>
                    </div>
                </div>
            </div>


            <div class="album py-5">
                <div class="container">
            
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        <% for(let i=0; i<posts.length; i++) { %>
                            <div class="col" id="<%=posts[i].id  %>">
                                <div class="card shadow-sm">
                                    <img class="img-fluid bd-placeholder-img card-img-top img-card clickable" id="<%=posts[i].id  %>" src="<%=posts[i].image  %>"> 
                                    <div class="card-body">
                                        <h5 class="card-title"><%= posts[i].title %></h5> 
                                        <p class="card-text food cutoff-text"><%=posts[i].content  %> </p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary clickable" id="<%=posts[i].id  %>">View</button>
                                            <% if(posts[i].id != 1 && posts[i].id != 2 && posts[i].id != 3) { %>
                                            <button type="button" class="btn btn-sm btn-outline-secondary clickable" id="<%=posts[i].id  %>_edit">Edit</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary clickable" id="<%=posts[i].id  %>_dlt_btn">Delete</button>
                                            <% } %>
                                            </div>
                                            <small class="text-body-secondary">Created at: <%=posts[i].created.split(' ')[0]  %></small>
                                        </div>
                                        <div class="container text-center">
                                            <small class="text-body-secondary">Written by <%=posts[i].author  %></small>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        <% } %>

                    </div>
                </div>
                </div>


            </main>

        <%- include("partials/footer.ejs") %>



